*,
*::before,
*::after {
    box-sizing: border-box;
}

fieldset {
    margin: 0;
    padding: 0;
}

.form {
    width: 360px;
    margin: 0 auto;
}

.input-label {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: left;
}

.input-label input {
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    padding: 8px 16px;
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: none;
}

.input-label input:hover,
.input-label input:focus {
    border: 1px solid #000;
}

.input-label input:active {
    border: 1px solid #4e75ff;
}

fieldset {
    border-radius: 4px;
    border: 1px solid #808080;
    padding-bottom: 14px;
    margin-bottom: 24px;
}

fieldset:hover,
fieldset:focus {
    border: 1px solid #000;
}

legend {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: left;
    margin-left: 28px;
    margin-bottom: 14px;
}

.label-container {
    display: flex;
    justify-content: center;
    gap: 48px
}

.radio-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.radio-label input {
    border: 1px solid #757575;
    border-radius: 14px;
    width: 20px;
    height: 20px;
}

.form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.form button:hover,
.form button:focus {
    background: #6c8cff;
}